node_modules
**/node_modules
dist
**/dist
.cache
**/.cache
.vite
**/.vite
coverage
**/coverage
.DS_Store
Thumbs.db
.git
.gitignore
.vscode
.idea
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml

